.footer-div {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer-div a {
    color: white;
    text-decoration: none;
    text-transform: none;
}

footer ul {
    list-style-type: none;
    width: 66%;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul b {
    font-size: 1.2em;
}